<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eightball in express</title>
</head>
<body>
<h2>Eightball in express</h2>
<br/>
<br/>
   <form action="/answer">
  Stel je vraag: <input type="text" name="vraag"><br>
  antwoord: <%= antwoord %>
  <br>
  <br/>
  <input type="submit" value="Vraag">
</form> 
</body>
</html>